.interface-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.interface {
  display: inline-block;
  background: lightgrey;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  max-width: 300px;
}
