body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.interface-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.interface-container a {
  text-decoration: none;
  color: #00d;
}

.interface {
  display: inline-block;
  padding: 0.6em 0;
  margin: 1em;
  max-width: 300px;
}

.interface-header {
  text-align: center;
  border-radius: 1em 1em 0 0;
  background: #ddd;
  border-bottom: 1px solid lightgrey;
  padding: 0.7em 1em;
}

.interface-header h2 {
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 0;
}

.member-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-list > li {
  margin: 0;
}

.member-list .member {
  padding: 0.7em 0.8em;
}

.member-list .member.complete {
  background: linear-gradient(to bottom, #c9fcd4 0%,#aef9bd 100%);
  border-bottom: #62E079 1px solid;
}

.member-list .member.none {
  background: linear-gradient(to bottom, #ffcfcc 0%,#FFB5B2 100%);
  border-bottom: #FF9191 1px solid;
}

.member-list .member.partial {
  background: linear-gradient(to bottom, #fff5d3 0%,#ffeeba 100%);
  border-bottom: #FFDA75 1px solid;
}

.member-list > li:last-child .member {
  border-radius: 0 0 1em 1em;
  border-bottom: none;
}

.member .member-status {
  /* Hide text (but not from screen readers) */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.member-summary .bug {
  margin-left: 0.2em;
}

.member-summary .bug a span {
  /* Hide text (but not from screen readers) */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.member-summary .bug a::after {
  content: "\0000a0";
  display: inline-block;
  width: 1em;
  background: url('../img/bug.svg') no-repeat;
  background-position: 0 3px;
}

.member .details {
  margin-top: 5px;
}

.member .notes {
  font-style: italic;
  font-size: 0.9em;
  margin: 0.5em 0;
}

.bug-list {
  padding: 0;
  list-style: none;
}

.bug-list > li {
  margin-bottom: 5px;
}
.bug-list > li:last-child {
  margin-bottom: 0;
}

.bug-detail {
  font-size: 0.9em;
  padding-left: 1.4em;
  display: inline-block;
  background: url('../img/bug.svg') no-repeat;
  background-position: 0 3px;
  background-size: 1.2em;
}

.bug-detail.RESOLVED {
  opacity: 0.5;
  background-image: url('../img/bug-crossed-out.svg');
}

.spec-link span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.spec-link::after {
  content: "\0000a0";
  display: inline-block;
  width: 1em;
  height: calc(1.2em + 3px);
  background: url('../img/doc.svg') no-repeat;
  background-position: 0 3px;
  background-size: 1em 1.2em;
}

.member-summary .spec-link {
  float: right;
}