body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.interface-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.interface-container a {
  text-decoration: none;
  color: black;
}

.interface {
  display: inline-block;
  padding: 0.6em 0;
  margin: 1em;
  max-width: 350px;
}

.interface-header {
  text-align: center;
  border-radius: 1em 1em 0 0;
  background: linear-gradient(to bottom, #e8e8e8 0%,#ddd 100%);;
  border-bottom: 1px solid lightgrey;
  padding: 0.7em 1em;
}

.interface-header h2 {
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 0;
}

.member-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.member-list > li {
  margin: 0;
}

.member-list .member {
  padding: 0.7em 0.8em;
}

.member-list .member.complete {
  background: linear-gradient(to bottom, #c9fcd4 0%,#aef9bd 100%);
  border-bottom: #62E079 1px solid;
}

.member-list .member.none {
  background: linear-gradient(to bottom, #ffcfcc 0%,#FFB5B2 100%);
  border-bottom: #FF9191 1px solid;
}

.member-list .member.partial {
  background: linear-gradient(to bottom, #fff5d3 0%,#ffeeba 100%);
  border-bottom: #FFDA75 1px solid;
}

.member-list > li:last-child .member {
  border-radius: 0 0 1em 1em;
  border-bottom: none;
}

.member-summary > a {
  margin-right: 0.4em;
  color: black;
}

.member-summary .member-status {
  /* Hide text (but not from screen readers) */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.member-summary .bug {
  margin-left: 0.2em;
  overflow: visible;
}

.member-summary .bug a span {
  /* Hide text (but not from screen readers) */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.member-summary .bug a::after {
  content: "\0000a0";
  display: inline-block;
  width: 1.2em;
  height: calc(1.2em + 3px);
  font-size: 1em;
  background: url('../img/bug.svg') no-repeat;
  background-position: 0 3px;
  background-size: 1.2em 1.2em;
  overflow: visible;
}

.member .details {
  margin-top: 0.5em;
  transition: all 0.2s;
  max-height: 500px;
  overflow: hidden;
}

.member .details[aria-expanded=false] {
  margin-top: 0;
  max-height: 0;
  visibility: hidden;
}

.member .notes {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.bug-list {
  padding: 0;
  list-style: none;
}

.bug-list > li {
  margin-bottom: 5px;
}
.bug-list > li:last-child {
  margin-bottom: 0;
}

.bug-detail {
  font-size: 0.9em;
  padding-left: 1.4em;
  display: inline-block;
  background: url('../img/bug.svg') no-repeat;
  background-position: 0 3px;
  background-size: 1.2em;
}

.bug-detail.RESOLVED {
  opacity: 0.5;
  background-image: url('../img/bug-crossed-out.svg');
}

.spec-link span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.spec-link::after {
  content: "\0000a0";
  display: inline-block;
  width: 1em;
  height: calc(1.2em + 3px);
  background: url('../img/doc.svg') no-repeat;
  background-position: 0 3px;
  background-size: 1em 1.2em;
}

.member-summary .spec-link {
  float: right;
}

@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Light),
       url(../fonts/OpenSans-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Light Italic),
       url(../fonts/OpenSans-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans),
       url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Italic),
       url(../fonts/OpenSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Semibold),
       url(../fonts/OpenSans-Semibold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Semibold Italic),
       url(../fonts/OpenSans-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Bold),
       url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Bold Italic),
       url(../fonts/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Extrabold),
       url(../fonts/OpenSans-ExtraBold.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local(Open Sans Extrabold Italic),
       url(../fonts/OpenSans-ExtraBoldItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
